@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');


.title{
    text-align: center;
    text-decoration:  underline;
    color: rgba(126, 121, 103, 0.719 );
    font-family: 'Fira Code';
}